# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/
db.sqlite3-journal
dept/code/__pycache__/
dept/migrations/__pycache__/0003_auto_20161221_2232.cpython-35.pyc
dept/migrations/__pycache__/0004_auto_20161221_2233.cpython-35.pyc
dept/migrations/__pycache__/0005_auto_20170111_2306.cpython-35.pyc
dept/templatetags/__pycache__/
mysite.iml
si8device/__pycache__/
si8device/migrations/__pycache__/
si8parsing/__pycache__/
si8parsing/code/__pycache__/
si8parsing/migrations/__pycache__/
