{% extends 'base.html' %}
{% block content %}
    <div class="fieldset">
        <div class="row">
            <div class="small-6 large-10 columns">
                {#            <h1>New post</h1>#}
                {#            <form method="POST" class="post-form">{% csrf_token %}#}
                {#                {{ form.as_p }}#}
                {#                <button type="submit" class="save btn btn-default">Save</button>#}
                {#            </form>#}

                <form method="POST" class="post-form">{% csrf_token %}
                    <div class="row">
                        <div class="medium-2 columns">
                            <label>№ служебной
                                {{ form.number }}
                            </label>
                        </div>
                        <div class="medium-2 columns">
                            <label>Дата
                                {{ form.day_create }}
                            </label>
                        </div>
                        <div class="medium-2 columns">
                            <label>На имя
                                {{ form.to_whom }}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                            <label>Название
                                {{ form.title }}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <label>
                                Текст служебной записки
{#                                <textarea>{{ form.text }}</textarea>#}
                                {{ form.text }}
                            </label>
                        </div>
                    </div>
                    <div class="text-right">
                        {#                    <button type="submit" class="save btn btn-default">Save</button>#}
                        <button type="submit" class="button">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        var now = new Date();
        var initialDate = now.day + '-' + now.month + '-' + now.year;
        $(function () {
            $('#dp_memo').fdatepicker({
                language: 'ru',
                initialDate: initialDate, //'30-07-2016',
                format: 'dd.mm.yyyy',
                disableDblClickSelection: true
            });
        });
    </script>
{% endblock %}
