{% extends 'base.html' %}
{% block content %}
    <form class="fieldset">
        <div class="row">
            <div class="small-6 large-10 columns">
                {% if user.is_authenticated %}
                    {% for memo in memos %}
                        <div class="callout">
                            <div class="row">
                                <div class="small-10 large-8 columns">
                                    <h5><a href="{% url 'docx_detail' pk=memo.pk %}">{{ memo }}</a></h5>
                                    <div class="small-8 large-8 columns">
                                        {% if memo.who == None %}
                                            <h6>Исполнитель: <a href="#">Назначить</a></h6>
                                        {% else %}
                                            <h6>Исполнитель: <a href="#">{{ memo.who }}</a></h6>
                                        {% endif %}
                                    </div>
                                    <div class="small-4 large-4 columns text-right">
                                        <label for="exampleFileUpload" class="button small" style="margin-bottom: 0">DOC</label>
                                        <input type="file" id="exampleFileUpload" class="show-for-sr">
                                        <label for="exampleFileUpload" class="button alert small" style="margin-bottom: 0">PDF</label>
                                        <input type="file" id="exampleFileUpload" class="show-for-sr">
                                    </div>
                                </div>
                                <div class="small-1 large-2 columns text-center">
                                    <p>Событий</p>
                                    <h5 data-open="ModalEvent{{ memo.pk }}"><a>{{ memo.event_set.all.count }}</a></h5>
                                </div>
                                <div class="reveal large" id="ModalEvent{{ memo.pk }}" data-reveal>
                                    <h5>События</h5>
                                    <button class="close-button" data-close aria-label="Close modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Событие</th>
                                            <th>Комментарий</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for event in memo.event_set.all %}
                                            <tr>
                                                <td>{{ event.day_create }}</td>
                                                <td>{{ event.title }}</td>
                                                <td>{{ event.comment }}</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                    <hr>
                                    <button class="button" data-open="ModalEventCreate{{ memo.pk }}">Новое событие(заглушка)</button>
                                </div>

                                <div class="small-1 large-2 columns text-center">
                                    <p>Заметок</p>
                                    <h5><a data-open="ModalMemo{{ memo.pk }}"
                                           href="#">{{ memo.note_set.all.count }}</a></h5>
                                </div>
                                <div class="reveal large" id="ModalMemo{{ memo.pk }}" data-reveal>
                                    <h5>Заметки</h5>
                                    <button class="close-button" data-close aria-label="Close modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Заметка</th>
                                            <th>Комментарий</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for note in memo.note_set.all %}
                                            <tr>
                                                <td>{{ note.day_create }}</td>
                                                <td>{{ note.title }}</td>
                                                <td>{{ note.comment }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                <hr>
                                    <button class="button" data-open="ModalMemoCreate{{ memo.pk }}">Новая заметка(заглушка)</button>
                                </div>

                            </div>
                        </div>

                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </form>
{% endblock content %}
