{% extends 'base.html' %}
{% block content %}
    <div class="fieldset">
        <div class="row">
            <div class="small-6 large-10 columns">
                {% if user.is_authenticated %}
                    <table class="hover">
                        <thead>
                        <tr>
                            <th>Номер</th>
                            <th>Адресат</th>
                            <th>Исполнитель</th>
                            <th>Название</th>
                            <th>Дата</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
{#                        <h5><a href="{% url 'docx_detail' pk=memo.pk %}">{{ memo }}</a></h5>#}
                        <tbody>
                        {% for memo in memos %}
                            <tr>
                                <td><a href="{% url 'docx_detail' pk=memo.pk %}">{{ memo.number }}</a></td>
                                <td><a href="{% url 'docx_destination' pk=memo.to_whom.pk %}">{{ memo.to_whom }}</a></td>
                                {% if memo.who is not None %}
                                    <td><a href="{% url 'docx_executor' pk=memo.who.pk %}">{{ memo.who }}</a></td>
                                {% else %}
                                    <td><a href="#">Назначить</a></td>
                                {% endif %}
                                <td><a href="{% url 'docx_detail' pk=memo.pk %}">{{ memo.title }}</a></td>
                                <td><a href="{% url 'docx_calendar' year=memo.day_create.year month=memo.day_create.month %}">{{ memo.day_create }}</a></td>
                                <td>В работе</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}


