{% extends 'base.html' %}
{% load staticfiles %}
{% block link %}
    {#    <link rel="stylesheet" href="{% static 'css/app2.css' %}">#}
{% endblock %}
{% block content %}
    <div class="small-12 large-12 columns">
        <div class="callout">
            <div class="row">
                <div class="columns">
                    <a href="{% url 'docx_new' %}" class="button">Новая записка</a>
                </div>
                <div class="small-6 large-10 columns" style="width: 100%">
                    <table class="hover" id="table_memo">
                        <thead>
                        <tr>
                            <th>Номер</th>
                            <th>Адресат</th>
                            <th>Исполнитель</th>
                            <th>Название</th>
                            <th>Дата</th>
                            <th>Статус</th>
                            <th>URL</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    {#    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">#}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/dataTables.foundation.min.css">


    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="//cdn.datatables.net/1.10.16/js/dataTables.foundation.min.js"></script>
    <script>$(document).ready(function () {
        {#        Flat array data source#}
        $('#table_memo').DataTable({
            "order": [[0, "desc"]],
            "ajax": {
                "url": "{% url 'docx_json' %}",
                "dataSrc": ""
            },
            "columns": [
                {"data": "number"},
                {"data": "people_to_whom.name"},
                {"data": "people_who.fio"},
                {"data": "title"},
                {"data": "day_create"},
                {"data": "memo_status.title"},
                {
                    "data": "id",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a href="/docx/' + data + '/">Edit</a>';
                        }

                        return data;
                    }
                }
            ],
            "pageLength": 25,
            {#            "scrollX": true,#}
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "language": {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }
        });
    });</script>

{% endblock %}


