{% extends 'base.html' %}
{% block content %}
    <div class="fieldset">
        <div class="row">
            <div class="small-12 medium-6  large-6 columns">
                {% if PeopleToWhom_text is not None %}
                    <h5> {{ PeopleToWhom_text }} </h5>
                {% elif PeopleWho_text is not None %}
                    <h5> {{ PeopleWho_text }} </h5>
                {% else %}
                    <h5> Все служебные записки </h5>
                {% endif %}
                <a href="{% url 'docx_new' %}" class="button">Создать</a>
            </div>
            <div class="small-1 medium-1  large-2 columns">
            </div>
            <div class="small-12 medium-5  large-4 columns">
                <ul class="menu">
                    <li><input type="search" placeholder="Поиск"></li>
                    <li>
                        <button type="button" class="button">Поиск</button>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="small-6 large-10 columns" style="width: 100%">
                {% if user.is_authenticated %}
                    <table class="hover">
                        <thead>
                        <tr>
                            <th>Номер</th>
                            <th>Адресат</th>
                            <th>Исполнитель</th>
                            <th>Название</th>
                            <th>Дата</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        {#                        <h5><a href="{% url 'docx_detail' pk=memo.pk %}">{{ memo }}</a></h5>#}
                        <tbody>
                        {% for memo in memos %}
                            <tr>
                                <td><a href="{% url 'docx_detail' pk=memo.pk %}">{{ memo.number }}</a></td>
                                <td><a href="{% url 'docx_destination' pk=memo.to_whom.pk %}">{{ memo.to_whom }}</a>
                                </td>
                                {% if memo.who is not None %}
                                    <td><a href="{% url 'docx_executor' pk=memo.who.pk %}">{{ memo.who.fio }}</a></td>
                                {% else %}
                                    <td><a href="#">Назначить</a></td>
                                {% endif %}
                                <td><a href="{% url 'docx_detail' pk=memo.pk %}">{{ memo.title }}</a></td>
                                {% if  memo.day_create is not None %}
                                    <td>
                                        <a href="{% url 'docx_calendar' year=memo.day_create.year month=memo.day_create.month %}">{{ memo.day_create }}</a>
                                    </td>
                                {% else %}
                                    <td> ---</td>
                                {% endif %}
                                <td>{{ memo.status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}


