{% load staticfiles %}
{% load get_range %}
<html>
<head>
    <title>django-chartjs line chart demo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'si8device/css/c3.css' %}">
</head>
<body>
<h1>Some Line Charts loaded in Ajax!</h1>
{% for i in 200|get_range %}
    <div class="mychart" id="chart{{ i }}" data-name = "#chart{{ i }}" data-url = "http://127.0.0.1:8000/si8/line_chartc3/json/"></div>
{% endfor %}

</body>
<footer id="footer">
    <script src="{% static 'si8device/js/d3.v3.min.js' %}"></script>
    <script src="{% static 'si8device/js/c3.min.js' %}"></script>
    <script src="{% static 'si8device/js/my_c3.js' %}" ></script>
</footer>
</html>