<!doctype html>
<html>
{% load staticfiles %}
<head>
    <title>Line Chart</title>
    <script src="{% static 'si8device/js/chart.bundle.js' %}"></script>
    <script src="{% static 'si8device/js/utils.js' %}"></script>
    <style>
        canvas{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>

<body>
<div>
</div>
<div id="my_chart">
    <canvas width="600" height="40" data-url="http://0.0.0.0:8000/si8/line_chartjs_v2/json/"></canvas>
    <canvas width="600" height="40" data-url="http://0.0.0.0:8000/si8/line_chartjs_v2/json/"></canvas>
</div>
<br>
<br>
<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'si8device/js/my_chart.js'%}"></script>
</body>

</html>
