{% extends 'base.html' %}
{% load staticfiles %}
{% load get_range %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'si8device/css/c3.css' %}">
{% endblock %}
{% block content %}
    <form class="fieldset">
        <div class="row">
            <div class="small-12 large-12 columns">
                <div class="callout striped table-scroll">
                    <table class="hover unstriped">
                        <thead>
                        <tr>
                            <th width=20%>Название</th>
                            <th>Скорость</th>
                            <th width=5%>Описание</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in 20|get_range %}
                            <tr>
                                <td>Machina {{ i }}</td>
                                <td><div id="chart{{ i }}"></div></td>
                                <td>Info</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
    <footer id="footer">
        <script src="{% static 'si8device/js/d3.v3.min.js' %}"></script>
        <script src="{% static 'si8device/js/c3.min.js' %}"></script>
        {% for i in 20|get_range %}
            <script>
                var chart = c3.generate(
                    {
                        bindto: '#chart{{ i }}',
                        size: {
                            width: 700,
                            height: 30
                        },
                        legend: {
                            show: false
                        },
                        axis: {
                            x: {
                                type: 'category',
                                show: false
                            },
                            y:{
                                show: false
                            }
                        },
                        point: {
                            show: false
                        },
                        data: {
                            x: "x",
                            url: '{% url "line_chartc3_json" %}',
                            mimeType: 'json'
                        }
                    });
            </script>
        {% endfor %}
    </footer>

{% endblock content %}
