{% extends 'base.html' %}
{% block content %}
    <form class="fieldset">
        <div class="row">
            <div class="small-12 large-12 columns">
                <div class="callout striped table-scroll">
                    <table class="hover unstriped">
                        <thead>
                        <tr>
                            <th width="200">Название</th>
                            <th>Скорость</th>
                            <th width="150">Описание</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Content Goes Here</td>
                            <td>Content Goes Here</td>
                            <td>Content Goes Here</td>
                        </tr>
                        <tr>
                            <td>Content Goes Here</td>
                            <td>Content Goes Here</td>
                            <td>Content Goes Here</td>
                        </tr>
                        <tr>
                            <td>Content Goes Here</td>
                            <td>Content Goes Here</td>
                            <td>Content Goes Here</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
