{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="ru">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation Starter Template</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
</head>

<body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Dept</li>
          <li class="menu-text">Заметки</li>
          <li class="menu-text">Дела</li>
          <li class="menu-text">Кадры</li>
        </ul>
      </div>
    </div>
    {% block content %} {% endblock %}
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.js' %}"></script>
    <script>
        $(document).foundation();
    </script>

</body>

</html>
