{% extends 'dept/base.html' %} {% block content %}
<form class="fieldset">
    <div class="row">
        <div class="small-12 large-12 columns">
            <div class="callout striped table-scroll">
                <table class="hover stack">
                    <thead>
                        <tr>
                            <th width="100"></th>
                            {% for day in args.day %}
                                <th>{{ day|date:'d'}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                            {% for day in args.day %}
                                <th>{{ day|date:'D'}}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Иванов</th>
                            {% for day in args.day %}
                                <th>-</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Петров</th>
                            {% for day in args.day %}
                                <th>-</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th>Сидоров</th>
                            {% for day in args.day %}
                                <th>-</th>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>



{% endblock content %}
