{% extends 'dept/base.html' %} {% block content %}
<form class="fieldset">
    <div class="row">
        <div class="small-12 large-12 columns">
            <div class="callout striped table-scroll">
                <h5>Декабрь</h5>
                <table class="hover stack">
                    <thead>
                        <tr>
                            <th width="150"></th>
                            {% for day in args.day %}
                                <th>{{ day|date:'d'}}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th></th>
                            {% for day in args.day %}
                                <th>{{ day|date:'D'}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for schedule in args.persons.schedules %}
                            <tr>
                                <th></th>
                                <th colspan={{args.persons.count_day}}>{{ schedule }}</th>
                            </tr>
                            {% for person in args.persons.persons %}
                                {% if person.name_schedule == schedule %}
                                    <tr>
                                        <th>{{ person.person }}</th>
                                        {% for code in person.data %}
                                            {% if code == 'd' %}
                                                <th><span class="badge warning">d</span></th>
                                            {% elif code == 'n' %}
                                                <th> <span class="badge">n</span></th>
                                            {% elif code == 'h' %}
                                                <th> <span class="badge secondary">h</span></th>
                                            {% else %}
                                                <th> </th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>



{% endblock content %}
