{% extends 'base.html' %}
{% block content %}
    {#    <div class="fieldset">#}
    {#        <div class="row">#}
    <div class="small-3 columns">
        <div class="callout">
{#            <p>Смена №1</p>#}
            <a href="#" class="button small">Новая запись</a>
            <ul class="vertical menu accordion-menu" data-accordion-menu>
                <li>
                    <a href="#">Текущая смена</a>
                    <ul class="menu vertical nested">
                        <li><a href="#">Черновик</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Мои смены</a>
                    <ul class="menu vertical nested">
                        <li><a href="#">Раньше</a></li>
                        <li><a href="#">01.09.17(день)</a></li>
                        <li><a href="#">02.09.17(ночь)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Все смены</a>
                    <ul class="menu vertical nested">
                        <li><a href="#">Поле календаря</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="small-9 columns">
        <div class="callout">
            <p>Смена №1 - Иванов И.И., Петров П.П. Режим работы с 7-20 до 19-20</p>
{#            <p>Обеденный перерыв №1 с 11-00 по 12-00 (30 мин.) </p>#}
{#            <p>Обеденный перерыв №2 с 17-00 по 18-00 (30 мин.) </p>#}
            <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">Записи (4 шт.)</a>

                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <a href="#" class="button small">Новая запись в журнал</a>
                        <p>Panel 1. Lorem ipsum dolor</p>
                        <a href="#">Nowhere to Go</a>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">Ведомость простоев (3 шт.) - 5 часов</a>

                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <a href="#" class="button small">Заполнить ведомость простоев</a>
                        <p>Panel 1. Lorem ipsum dolor</p>
                        <a href="#">Nowhere to Go</a>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">Неисправное оборудование (1 единица)</a>

                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <a href="#" class="button small">Передать неисправное оборудование</a>
                        <p>Panel 1. Lorem ipsum dolor</p>
                        <a href="#">Nowhere to Go</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {#        </div>#}
    {#    </div>#}
{% endblock content %}

{% block script %}
    {#    <script>#}
    {#        var now = new Date();#}
    {#        var initialDate = now.day + '-' + now.month + '-' + now.year;#}
    {#        $(function () {#}
    {#            $('#dp_memo').fdatepicker({#}
    {#                language: 'ru',#}
    {#                initialDate: initialDate, //'30-07-2016',#}
    {#                format: 'dd.mm.yyyy',#}
    {#                disableDblClickSelection: true#}
    {#            });#}
    {#        });#}
    {#    </script>#}
{% endblock %}
